.beneficios {
    background-color: #1a120b;
    width: 100%;
    margin: 2rem auto;
    padding: 5rem;
    text-align: center;
}

.beneficios .section-title {
    color: #e5e5e5;
}

.beneficios-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-top: 3rem;
}

.beneficio {
    padding: 2rem;
    display: grid;
    gap: 1rem;
    background-color: #e5e5e5;
    border-radius: 5px;
    cursor: pointer;
    transition: transform .3s;
}

.beneficio:hover {
    transform: scale(1.1);
}

.beneficio h3 {
    color: #b37537;
}

.beneficio i {
    color: #94743e;
    font-size: 2.5rem;
}

.beneficio p {
    font-weight: 500;
    font-size: 1rem;
}

@media (max-width: 1080px) {
    .beneficios-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 700px) {
    .beneficios-grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 520px) {
    .beneficios {
        padding: 5rem 1rem;
    }
}