$main-color: #d4a373;
$body-bg-color: #f9f5f0;
$box_shadow_color: rgba(0, 0, 0, 0.2);

$navbar-bg-color: #1a120b;
$navbar-text-color: #e5e5e5;

$text-dark-color: #3d3d3d;
$section-subtitle-color: #6c757d;

$carousel-caption-color: #f8f9fa;
$carousel-caption-bg-color: rgba(26, 18, 11, 0.6);
$indicator-bg-color: #adb5bd;
$carousel-btn-color: #0b0705;

$card-main-color: #b37537;
$card-shadow-color: rgba(0, 0, 0, 0.1);

$beneficio-text-color: #94743e;

$galeria-title-color: #905e2c;

$main_font: "Montserrat", sans-serif;
$historia-font: "Roboto Slab", serif;

$header_title_color: #5a3b1c;
