@use "../util/variables" as *;

.header {
    background:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../img/header_bg.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: space-between;
    padding: 10rem 5rem;
    align-items: center;
    color: white;

    &-btn {
        font-size: 1.6rem;
        background-color: #25d366;
        color: #ece5dd;
        text-decoration: none;
        padding: 0.5rem 1rem;
        box-shadow: 0 0 5px black;
        border-radius: 20px;

        &:hover {
            background-color: #1ea951;
        }

        i {
            font-size: 1.5em;
        }
    }

    &-text {
        width: 50%;

        h1 {
            font-size: 2.5rem;
            margin-bottom: 2rem;
            color: $main_color;
            text-shadow: 2px 2px 0px black;
        }

        h2 {
            margin-bottom: 1rem;
            text-shadow: 2px 2px 0px black;
        }

        p {
            margin-bottom: 0.5rem;
            font-size: 1.2rem;
            font-weight: 500;
        }

        ul > li {
            margin-left: 5rem;
            color: $main-color;
            font-size: 1.15rem;
            margin-bottom: 1rem;
            font-weight: bold;
        }
    }

    @media (max-width: 1020px) {
        flex-direction: column;
        gap: 4rem;

        &-text {
            width: 100%;
        }
    }

    @media (max-width: 580px) {
        padding: 5rem 0.5rem;
    }

    @media (max-width: 460px) {
        gap: 2rem;

        &-btn {
            font-size: 1.2rem;
        }

        &-text {
            h1 {
                font-size: 2rem;
            }

            h2 {
                font-size: 1.2rem;
            }
        }
    }
}
