@use "../util/variables" as *;

.header {
    background:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../img/header_bg.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: space-between;
    padding: 10rem 5rem;
    align-items: center;
    color: white;
    font-size: 1.2rem;

    &-btn {
        font-size: 1.2em;
        background-color: #25d366;
        color: #ece5dd;
        text-decoration: none;
        padding: 0.5rem 1rem;
        box-shadow: 0 0 5px black;
        border-radius: 20px;

        &:hover {
            background-color: #1ea951;
        }

        i {
            font-size: 1.5em;
        }
    }

    &-text {
        width: 50%;
        font-size: 1em;

        h1 {
            font-size: 2em;
            margin-bottom: 2rem;
            color: $main_color;
            text-shadow: 2px 2px 0px black;
        }

        h2 {
            margin-bottom: 1em;
            font-size: 1.2em;
            text-shadow: 2px 2px 0px black;
        }

        p {
            margin-bottom: 2rem;
            font-weight: 500;
            font-size: 1.2em;
        }

        ul > li {
            margin-left: 5rem;
            color: $main-color;
            font-size: 1.15em;
            margin-bottom: 1rem;
            font-weight: bold;
            text-shadow: 1px 2px black;
        }
    }

    @media (max-width: 1020px) {
        flex-direction: column;
        gap: 4rem;

        &-text {
            width: 100%;
        }
    }

    @media (max-width: 650px) {
        gap: 2rem;
        font-size: 0.9rem;
        padding: 5rem 0.5rem;
    }
}
