@use '../util/variables' as *;

html {
    scroll-behavior: smooth;
    scroll-padding-top: calc(75px + 32px);
}

.main-title {
    padding: 15px 0;
    font-size: 2.5rem;

    @media screen and (max-width: 768px) {
        font-size: 2rem;
    }
}

.main-subtitle {
    margin-bottom: 15px;
    color: $text-dark-color;

    @media screen and (max-width: 768px) {
        font-size: 1.5rem;
    }
}

.wa-button {
    position: fixed;
    bottom: 5px;
    right: 5px;

    img {
        width: 80px;
        transition: transform 0.5s;

        &:hover {
            transform: scale(1.1);
        }

        @media (max-width: 480px) {
            width: 50px;
        }
    }
}
