@use "../util/variables" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $main_font;
}

body {
    background-color: $body-bg-color;
}

.blur {
    filter: blur(4px);
}